


<div class="panel panel-default">
    <div class="panel-heading">Add Title</div>
    <div class="panel-body">
        <div class='form-group'>
            <label>Description</label>
            <input type="text" class="form-control" ng-model='title.description' ng-disabled="viewMode" />
        </div>

        <div class="form-group">
            <label>Payrate</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text" format="currency" class="form-control" ng-model='title.payrate' ng-disabled="viewMode" />
            </div>
        </div>

       
        <div class="form-group">
            <label>Overtime</label>
            <div class="input-group">
                <div class="input-group-addon">$</div>
                <input type="text"  disabled class="form-control" value="{{ title.payrate * 1.5 | number : 2 }}" />
            </div>
        </div>

     

        <div class="form-group">
            <label>NigthDiff</label>
            <div class="input-group">
                <div class="input-group-addon"><i class="fa fa-money"></i></div>
                <input type="text" format="currency" class="form-control" ng-model="title.nigthdiff" ng-disabled="viewMode" />
            </div>
        </div>


        <div class="form-group">
            <button class='full-width btn btn-success' ng-click="save()" ng-if="!viewMode"><i class="fa fa-save"></i> Save</button>
            <button back-btn class='full-width btn btn-default'>Cancel</button>
        </div>
    </div>
    
</div>

