


<div class="form-group">
    <label>Phones</label>
    <div>
        <button ng-if="!readOnly" ng-click="add()" class="btn btn-success btn-xs add-btn" style="margin-bottom:5px"><i class="fa fa-plus"></i> Add</button>
    </div>
    <div class="input-group" ng-repeat="phone in phones" style="margin-bottom:5px">
        <div class="input-group-addon">
            <button ng-click="openPopOver($index)" popover-template="dPopover.templateUrl" popover-toggle="phone.isOpen" popover-title="{{dPopover.title}}" popover-placement="{{dPopover.placement}}">
                <i class="fa {{phone.phone_type}}"></i>
            </button>
        </div>
        <input type="text" class='form-control' ng-model='phone.number' ng-disabled="readOnly" />
        <div class="input-group-addon" ng-if="!readOnly">
            <a href="#" ng-click="remove($index)"><i class="fa fa-remove" style="color:#D2322D"></i></a>
        </div>
    </div>
</div>

<script type="text/ng-template" id="phoneTypes.html">
    
    <div class="form-group"  ng-repeat="type in phoneTypes">
        <input name="phoneTypeList" ng-click="onPhoneTypeSelected(type.icon)" type="radio" /> <i class="fa {{type.icon}}"></i> {{type.description}}
    </div>
    <div>
        <button class="btn btn-danger btn-xs full-width" href="#" ng-click="closePopOver()"><i class="fa fa-remove"></i> Close</button>
    </div>
   
</script>