


<div class="">
    <h2>Add Reimbursement</h2>
    <div class='form-group'>
        <label>Description</label>
        <input type="text" class="form-control" ng-model='reimbursement.description'/>
    </div>
    
    <div class="form-group">
        <label>Rate</label>
        <div class="input-group">
            <div class="input-group-addon">$</div>
            <input type="number" class="form-control" ng-model='reimbursement.rate' />
        </div>
    </div>
    
   
    <div>
        <div class='col-md-12 container'>
            <div class="col-md-6 col-xs-6">
                <button class='col-md-12 col-xs-12 btn btn-primary'>Add</button>
            </div>
            <div class="col-md-6 col-xs-6">
                <button back-btn class='col-md-12 col-xs-12 btn btn-default'>Cancel</button>
            </div>
            
            
        </div>
    </div>
    
</div>

