

<div>
    <h2>Reimbursements</h2>


    <div class="panel panel-default">
        <div class="panel-heading">
            <a href="#" ng-init="isCollapse = true" ng-click="isCollapse = !isCollapse"><i class="fa fa-search"> Filters</i></a>
        </div>
        <div class="panel-body"collapse="isCollapse">
            <div class="form-group">
                <label>Description</label>
                <input type="text" ng-model="txtDescription" class="form-control" />
            </div>
            <div class="form-group">
                <label>Abbreviation</label>
                <input type="text" ng-model="txtAbbreviation" class="form-control" />
            </div>
        </div>
    </div>


    <a class="btn btn-xs btn-success" href="/reimbursements/add"><i class="fa fa-plus"></i>  Add</a>


    <div class="table-responsive">

        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Abbreviation</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="row in reimbursements | filter:{ description: txtDescription || '', abbreviation: txtAbbreviation || ''}">
                    <td>{{row.description}}</td>
                    <td>{{row.abbreviation}}</td>
                    <td>
                        <a href='{{ "reimbursements/view/" + row.id }}' class='btn btn-xs btn-info'><i class="fa fa-search"></i> View</a>
                        <a href='{{ "reimbursements/edit/" + row.id }}' class='btn btn-xs btn-warning'><i class="fa fa-edit"></i> Edit</a>
                        <a ng-click="deleteReimbursement(row.id)" class='btn btn-xs btn-danger'><i class="fa fa-remove"></i> Delete</a>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

</div>
