<!DOCTYPE html>
<html lang="en" ng-app="fmpPortal">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1 user-scalable=no">
    <title>FMP Admin</title>
    <link href="/assets/css/font-awesome.css" rel="stylesheet" />
    <link href="/assets/css/main.css" rel="stylesheet" type="text/css" />
    <link href="/assets/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/assets/css/animations.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="/assets/css/bootstrap-dialog.css" rel="stylesheet" />
    <link href="/assets/css/ui-bootstrap-csp.css" rel="stylesheet" />
    <link href="/assets/css/ngToast.min.css" rel="stylesheet" />
    <link href="/assets/css/ngToast-animations.min.css" rel="stylesheet" />
    
    <base href="/" />
</head>
<body ng-controller="indexController" >
    <toast></toast>
    <div class="navbar navbar-default no-margin fmp-navbar" ng-if="!reportMode">
        <div class="row">
            <div class="col-md-2 col-xs-2">
                <div class="brand">
                    <a class="hidden-md hidden-lg pull-left hamburguer" href="#" ng-click="toggleMenu()"><i class="fa fa-bars hamburger-icon" ng-class="{'hamburger-icon-pressed' : menuClosed == false}" ></i></a>
                    <div class="pull-left brand-name hidden-xs"><i class="fa fa-building hidden-xs hidden-sm"></i> FMP PORTAL</div>
                </div>
            </div>
            <div class="col-md-10 col-xs-10">
                <div class="" style=" padding-top:22px;">
                   
                        <span ng-if="currentUser">
                            <a class="btn btn-xs btn-info pull-left" href="#" back-btn><i class="fa fa-chevron-circle-left"></i> Back</a>
                            <label class="pull-left" style="color:white; margin-left:5px; margin-right:5px;">|</label>
                        </span>
                        
                        <div class="pull-left">
                            <a href="#" id="lnkUser" style="color:white" class="dropdown-toggle" data-toggle="dropdown">
                                {{currentUser.username}}<span ng-show="currentUser" class="caret"></span>
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="lnkUser">
                                <li><a href="#" ng-click="logOff()">LogOff</a></li>
                            </ul>
                        </div>

                        <a ng-if="!currentUser" href="/login" style="color:white">Sign In</a>
                        <label class="pull-right" style="color: white; margin-right: 15px; margin-left: 5px">{{currentUser.school.name}}</label>
                        <i ng-show="ajaxLoading" class="fa fa-spinner fa-pulse ajax-loader"></i>
                    </div>
                
            </div>
        </div>

    </div>
    <div id="body">
        <div class="container-fluid">
            <div class="row main">
                <div style="padding:0" class="col-md-2 max-height main-menu" ng-class="{'close-menu' : menuClosed == true}">

                    <ul class="menu list-unstyled">
                        <li ng-repeat="item in menu | unique: 'text'">
                            <div class="li-bound">
                                <a menu-item class="menu-item" href="{{item.url}}" ng-click="showHideSubMenu(item)">
                                    <div>
                                        <i ng-class=" 'fa ' + item.icon"></i>{{item.text}}
                                    </div>
                                </a>
                                <ul class='sub-parent animate' ng-show="item.subItems.length && item.showMenu">
                                    <li class="subItem" ng-repeat="subItem in item.subItems | unique: 'text'">
                                        <a menu-item class="menu-item" href="{{subItem.url}}"><span class="sub-item-text"><i class="fa fa-caret-right"></i> {{subItem.text}}</span></a>
                                    </li>
                                </ul>
                            </div>
                        </li>
                    </ul>

                </div>
                <div class="content-place-holder container col-xs-12" ng-class="{'col-md-12' : menuClosed == true, 'col-md-10' : menuClosed == false}">

                    <div>
                        <alert ng-repeat="alert in alerts" type="{{alert.type}}" dismiss-on-timeout="5000" close="closeAlert($index)">{{alert.msg}}</alert>
                    </div>
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>


    <script src="/assets/js/fn.js"></script>
    <script src="/assets/js/jquery-1.10.2.min.js"></script>
    <script src="/assets/js/angular.min.js"></script>
    <script src="/assets/js/angular-route.min.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>
    <script src="/assets/js/ui-bootstrap.min.js"></script>
    <script src="/assets/js/ui-bootstrap-tpls.min.js"></script>
    <script src="/assets/js/moment.min.js"></script>
    <script src="/assets/js/moment-with-locales.min.js"></script>
    <script src="/assets/js/moment-timezone.js"></script>
    <script src="/assets/js/moment-with-locales.min.js"></script>
    <script src="/assets/js/bootstrap-datetimepicker.min.js"></script>
    <script src="/assets/js/bootstrap-dialog.js"></script>
    <script src="/assets/js/angular-animate.min.js"></script>
    <script src="/assets/js/angular-sanitize.min.js"></script>
    <script src="/assets/js/ngToast.min.js"></script>
    <script src="/assets/js/ngStorage.min.js"></script>
    <script src="/assets/js/match-media.js"></script>
    <script src="/app/ng-grid-view.js"></script>
    <script src="/app/app.js"></script>
    <script src="/app/app.directives.js"></script>
    <script src="/app/app.service.js"></script>
    <script src="/app/print.js"></script>
    <script src="/app/ngDatePicker.js"></script>
    <script src="/app/popover-toggle.js"></script>
    <script src="/app/mantenimientos/employees/employeesController.js"></script>
    <script src="/app/mantenimientos/reimbursement/reimbursementController.js"></script>
    <script src="/app/mantenimientos/schools/schoolsController.js"></script>
    <script src="/app/mantenimientos/titles/titlesController.js"></script>
    <script src="/app/mantenimientos/users/usersController.js"></script>
    <script src="/app/security/permits/securityPermitsController.js"></script>
    <script src="/app/security/screens/securityScreensController.js"></script>
    <script src="/app/security/groups/securityGroupsController.js"></script>
    <script src="/app/reports/payroll/payrollPrintController.js"></script>
    <script src="/app/login/loginController.js"></script>
    <script src="/app/payroll/payrollController.js"></script>
    <script src="/app/payroll/reimbursement/reimbursementController.js"></script>
    <script src="/app/shared/components/addEmployees/addEmployeeController.js"></script>

    <script src="/app/permits/contractor/contractorController.js"></script>

</body>
</html>


