<div>
    <div class="panel panel-default">
        <div class="panel-heading">
            <label>Add Contractor permit</label>
        </div>
        <div class="panel-body">
            <toast></toast>
            <button type="button" class="btn btn-success btn-sm" ng-click="savePermit(permit)" ng-disabled="!permit.number_registered">
                <i class="fa fa-save"></i>
                <span>Save Data</span>
            </button>
            <button type="button" class="btn btn-default btn-sm">
                <i class="fa fa-paint-brush"></i>
                <span>Clear</span>
            </button> <br /><br />
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name Of Applicant Organization</label>
                        <input type="text" class="form-control" ng-model="permit.organization_name" />
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Telephone</label>
                        <input type="tel" class="form-control" ng-model="permit.telephone" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Mailing Address</label>
                        <input type="text" class="form-control" ng-model="permit.mailing_address" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>City</label>
                        <input type="text" class="form-control" ng-model="permit.city" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>State</label>
                        <input type="text" class="form-control" ng-model="permit.state" />
                    </div>
                </div>
                <div class="col-md-2">
                    <div class="form-group">
                        <label>Zip Code</label>
                        <input type="text" class="form-control" ng-model="permit.zip_code" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <label>Name and Title of Authorized Representative of Organization</label>
                        <input type="text" class="form-control" ng-model="permit.authorized_organization_name" />
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Permit Period</label>
                    <div class="round-section">
                        <div class="row">
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>From</label><span>(MM/DD/YYYY)</span>
                                    <div class="input-group" date-picker date-model="permit.permit_start_date">
                                        <input class="form-control full-width date-end" required />
                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-5">
                                <div class="form-group">
                                    <label>To</label><span>(MM/DD/YYYY)</span>
                                    <div class="input-group" date-picker date-model="permit.permit_end_date">
                                        <input class="form-control full-width date-end" required />
                                        <div class="input-group-addon">
                                            <a href="#"><i class="fa fa-calendar"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-2">
                                <div class="form-group">
                                    <label>Number Registered</label>
                                    <input id="number_registered" type="text" class="form-control" ng-model="permit.number_registered" />
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <label>Weeks Days</label>
                    <div class="round-section">
                        <div class="row">
                            <div class="col-md-12">
                                <button type="button" class="btn btn-primary btn-sm" ng-click="openAddPeriod(period)" ng-disabled="!permit.number_registered">
                                    <i class="fa fa-plus-circle"></i>
                                    <span>Add Period</span>
                                </button> <br /><br />
                                <div class="table-responsive">
                                    <table id="tblContractorPeriod" class="table table-bordered">
                                        <thead>
                                            <tr>
                                                <td class="text-center"><b>#</b></td>
                                                <td class="text-center"><b>Days of Week</b></td>
                                                <td class="text-center"><b>From Date</b> </td>
                                                <td class="text-center"><b>To Date</b></td>
                                                <td class="text-center"><b>From Time</b></td>
                                                <td class="text-center"><b>To Time</b></td>
                                                <td class="text-center"><b>Hours</b></td>
                                                <td class="text-center"><b>Actions</b></td>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr ng-repeat="item in contractorPeriodData">
                                                <td class="text-center">{{item.id}}</td>
                                                <td>{{item.week_days}}</td>
                                                <td class="text-center">{{item.start_date | date: "MM/dd/yyyy"}}</td>
                                                <td class="text-center">{{item.end_date | date: "MM/dd/yyyy"}}</td>
                                                <td class="text-center">{{item.start_time}}</td>
                                                <td class="text-center">{{item.end_time}}</td>
                                                <td class="text-center">{{item.hours}}</td>
                                                <td style="font-size:20px; cursor:pointer" class="text-center">
                                                    <a><i class="fa fa-edit" ng-click="contractorPeriodEdit({{item.id}})"></i> </a>
                                                    <a><i class="fa fa-times-circle" ng-click="contractorPeriodDelete({{item.id}})"></i> </a>
                                                </td>
                                            </tr>
                                        </tbody>
                                        <tfoot>
                                            <tr><td></td><td></td><td></td><td></td><td></td><td></td><td></td><td></td></tr>
                                            <tr>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td class="text-left"><label>Total Hours: </label> <span class="badge">{{total.totalHour}}</span> </td>
                                            </tr>
                                        </tfoot>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




<script>
    $(function () {

        moment.lang(navigator.language);

        $('#permitPeriodDateTimeFrom').datetimepicker({ locale: 'en', format: 'L' });
        $('#permitPeriodDateTimeTo').datetimepicker({ locale: 'en', format: 'L' });

        $('#addPeriodDateFrom').datetimepicker({ locale: 'en', format: 'L' });
        $('#addPeriodDateTo').datetimepicker({ locale: 'en', format: 'L' });

        $('#addPeriodTimeFrom').datetimepicker({ locale: 'en', format: 'LT' });
        $('#addPeriodTimeTo').datetimepicker({ locale: 'en', format: 'LT' });



        //OnChange PermitStartDate
        //$("#permitPeriodDateTimeFrom").on("dp.change", function (e) {
        //    var periodDateTimeFrom = $("#PermitStartDate").val();
        //    $("#hiddenPermitStartDate").val(periodDateTimeFrom);
        //});


    });
</script>
