
<div>

    <div class="panel panel-default">

        <div class="panel-heading">
            <label>Add Contractor permit</label>
        </div>

        <div class="panel-body">


            <div class="form-group">
                <label>Name Of Applicant Organization</label>
                <input type="text" class="form-control" ng-model="permit.name" />
            </div>
            <div class="form-group">
                <label>Telephone</label>
                <input type="tel" class="form-control" ng-model="permit.telephone" />
            </div>
            <div class="form-group">
                <label>Mailing Address</label>
                <input type="text" class="form-control" ng-model="permit.address" />
            </div>

            <label>Period</label>
            <div class="round-section">
                <div class="form-inline">
                
                <div class="form-group half49-width">
                   <label>From</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="permit.from" />
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
                <div class="form-group half-width">
                    <label>To</label>
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="permit.to" />
                        <div class="input-group-addon">
                            <i class="fa fa-calendar"></i>
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>


</div>