
<style>
    .required-field {
        color: red;
        font-size: 10px;
    }

    .modal-header {
        background-color: #428bca;
        color: #fff;
        border-radius: 5px;
    }
</style>

<form id="formPeriod" name="formPeriod">
    <div class="modal-header panel-primary">
        <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
        <h4 class="modal-title">Add Contractor Period</h4>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div ng-if="modeAdd">
                            <button type="button" class="btn btn-success btn-sm" ng-click="addContractorPeriod(period)">
                                <i class="fa fa-plus-circle"></i>
                                <span>Add Period</span>
                            </button>
                            <!--<button type="button" class="btn btn-default btn-sm" onclick="clearPeriodData()">
                                <i class="fa fa-paint-brush"></i>
                                <span>Clear</span>
                            </button>-->
                        </div>
                        <div ng-if="modeEdit">
                            <button type="button" class="btn btn-success btn-sm" ng-click="addContractorPeriod(period)">
                                <i class="fa fa-plus-circle"></i>
                                <span>Update Period</span>
                            </button>
                            <!--<button type="button" class="btn btn-default btn-sm" onclick="clearPeriodData()">
                                <i class="fa fa-paint-brush"></i>
                                <span>Clear</span>
                            </button>-->
                        </div>

                    </div>
                </div> <br />
                <div class="row">
                    <div class="col-md-3">
                        <div class="round-section">
                            <label>Week's Days</label>
                            <label ng-repeat="day in daysOfWeek" class="checkbox">
                                <input type="checkbox"
                                       name="selectedFruits[]"
                                       value="{{day}}"
                                       ng-checked="selectedWeekDay.indexOf(day) > -1"
                                       ng-click="toggleSelection(day)"> {{day}}
                            </label>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="row">
                            <label>Dates of Use</label>
                            <div class="round-section">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From</label><span>(MM/DD/YYYY)</span>
                                        <div class="form-group">
                                            <div class='input-group date' id='addPeriodDateFrom' date-picker date-model="period.start_date">
                                                <input id="periodDateFrom" type='text' class="form-control" ng-model="period.start_date" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>To</label><span>(MM/DD/YYYY)</span>
                                        <div class="form-group">
                                            <div class='input-group date' id='addPeriodDateTo' date-picker date-model="period.end_date">
                                                <input id="periodDateTo" type='text' class="form-control" ng-model="period.end_date" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-calendar"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div> <br />
                        <div class="row">
                            <label>Times of Use</label>
                            <div class="round-section">
                                <div class="row">
                                    <div class="col-md-6">
                                        <label>From </label>
                                        <div class="form-group">
                                            <div class='input-group date' id='addPeriodTimeFrom' time-picker date-model="period.start_time">
                                                <input id="periodTimeFrom" name="periodTimeFrom" type='text' class="form-control" ng-model="period.start_time" required />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-6">
                                        <label>To</label>
                                        <div class="form-group">
                                            <div class='input-group date' id='addPeriodTimeTo' time-picker date-model="period.end_time">
                                                <input id="periodTimeTo" type='text' class="form-control" ng-model="period.end_time" />
                                                <span class="input-group-addon">
                                                    <span class="glyphicon glyphicon-time"></span>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row text-center">
                    <div class="round-section">
                        <div class="row">
                            <div class="col-md-4">
                                <label>Days </label><br />
                                <span id="totalDay" class="badge" ng-bind="total.days">{{total.days}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Hours </label><br />
                                <span id="totalHour" class="badge" ng-bind="total.hours">{{total.hours}}</span>
                            </div>
                            <div class="col-md-4">
                                <label>Total Hours </label><br />
                                <span id="resultHours" class="badge" ng-bind="total.totalDaysHours">{{total.totalDaysHours}}</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>

<script type="text/javascript">

    //Custon Function

    //function clearPeriodData() {
    //    $("input[name=chkPeriodDays").prop("checked", false);
    //    $("#periodDateTo").val("");
    //    $("#periodTimeFrom").val("");
    //    $("#periodTimeTo").val("");
    //    $("#totalDay").text("0");
    //    $("#totalHour").text("0");
    //    $("#resultHours").text("0");
    //}


    //function calculateTotalHour() {
    //    var days = parseInt($("#totalDay").text());
    //    var hours = parseInt($("#totalHour").text());

    //    if (days > 0 && hours > 0) {
    //        var resultHour = days * hours;
    //        $("#resultHours").text(resultHour);
    //    }
    //}


    //function timeDiff(start, end) {
    //    start = start.split(":");
    //    end = end.split(":");
    //    var startDate = new Date(0, 0, 0, start[0], start[1], 0);
    //    var endDate = new Date(0, 0, 0, end[0], end[1], 0);
    //    var diff = endDate.getTime() - startDate.getTime();
    //    var hours = Math.floor(diff / 1000 / 60 / 60);
    //    diff -= hours * 1000 * 60 * 60;
    //    var minutes = Math.floor(diff / 1000 / 60);
    //    return (hours < 9 ? "0" : "") + hours + ":" + (minutes < 9 ? "0" : "") + minutes;
    //}

</script>
