

<script type="text/ng-template" id="typeHeadTemplate.html">

    <a>
        <i class="{{match.model.icon}}"></i>
        <span bind-html-unsafe="match.model.text | typeaheadHighlight:query"></span>
    </a>

</script>


<div class="panel panel-default">

    <div class="panel-heading">
        Security Permits
    </div>

    <div class="panel-body">

        <div class="form-group">
            <label>User or Group</label>
            <span ng-show="typeaheadNoResults" ng-init="typeaheadNoResults = false">
                <i class="fa fa-close"></i>No results found
            </span>
            <span ng-show="typeaheadLoading" ng-init="typeaheadLoading = false">
                <i class="fa fa-spinner fa-pulse"></i>
            </span>
            <div class="input-group">
                <input type="text" class="form-control" ng-model="selected.name" typeahead="item.text for item in loadUserGroup($viewValue)" typeahead-on-select="onSelectUserGroup($item,$model,$label)" typeahead-template-url="typeHeadTemplate.html" typeahead-no-results="typeaheadNoResults" typeahead-loading="typeaheadLoading" />
                <div class="input-group-addon">
                    <a><i class="fa fa-search"></i></a>
                </div>
            </div>
        </div>
        <div class="form-group">

            <div class="panel panel-success">
                <div class="panel-heading">
                    <i class="fa fa-list-alt"> Permits</i>
                </div>
                <div class="panel-body">
                    <div ng-repeat="screen in screens">

                        <div ng-if="screen.subItems.length==0">
                            <span><input type="checkbox" ng-click="toggleScreen(screen)" ng-model="screen.chkParent" /> {{screen.text}}</span>
                        </div>

                        <div ng-if="!screen.subItems.length==0" class="">
                            <span><input type="checkbox" ng-disabled="true" ng-model="screen.chkParent"  /> {{screen.text}}</span>
                            <ul class="ul-permits">
                                <li ng-repeat="item in screen.subItems">
                                    <span><input type="checkbox" ng-click="toggleScreen(item, screen)" ng-model="item.chkParent"  /> {{item.text}}</span>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div class="form-group">
            <button ng-click="save()" class="btn btn-success col-md-12 col-xs-12" style="margin-bottom:5px;"><i class="fa fa-save"></i> Save</button>
            <button class="btn btn-default col-md-12 col-xs-12" back-btn> Cancel</button>
        </div>


    </div>

</div>