
<div>

    <p>
        <label>Payroll:</label>
        <label>M01</label>
    </p>
    <label>Pay Period</label>
    <div class="round-section">
        <div class="form-inline">
            <div class="form-group half49-width">
                <label>From</label>
                <div class="input-group" date-picker date-model="payroll.startdate">
                    <input class="form-control full-width" />
                    <div class="input-group-addon">
                        <a href="#"><i class="fa fa-calendar"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group half-width">
                <label>To</label>
                <div class="input-group" date-picker date-model="payroll.enddate" date-change="calculateDiff()">
                    <input class="form-control full-width" />
                    <div class="input-group-addon">
                        <a href="#"><i class="fa fa-calendar"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tabset class="round-section">
        <tab active="tabs[0].active">
            <tab-heading>
                <i class="fa fa-child"></i> Employees
            </tab-heading>
            <div class="section">
                <div>
                    <div class="form-group">
                        <label>Employee: </label>
                        <select id="ddlEmployees" class="form-control" ng-model="current.employee" ng-options="(employee.name + ' ' + employee.last_name) for employee in employees track by employee.employee_code">
                            <option value="">Choose...</option>
                        </select>
                    </div>
                    <label>Regular Rate: </label>
                    <label class="money">{{current.employee.title.payrate | currency : $}}</label>
                </div>
                <div class="employee-div">
                    <div class="col-md-1 vertical-align"><a class="arrow pull-left" href="#"><i class="fa fa-chevron-circle-left"></i></a></div>
                    <div class="col-md-10">
                        <div>
                            <div class="table-responsive">
                                <table class="table fi table-striped">
                                    <thead>
                                        <tr ng-show="current.days.length">
                                            <th>&#xf133; Day</th>
                                            <th>&#xf017; Regular Hours</th>
                                            <th>&#xf017; Overtime</th>
                                            <th>Reimbursement</th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="day in current.days">
                                        <td>
                                            <label>{{day.day}}</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" event-handler on-blur="checkOvertime(day)" ng-model="day.regularHours" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="day.overtime" disabled/>
                                        </td>
                                        <td>
                                            <a class="btn btn-xs btn-success" ng-click="addReimbursement()"><i class="fa fa-plus"></i> Add</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>MON</th>
                                        <th>TUE</th>
                                        <th>WED</th>
                                        <th>THU</th>
                                        <th>FRI</th>
                                        <th>SAT</th>
                                        <th>SUN</th>
                                        <th>TOTAL HOURS</th>
                                        <th>GROSS PAY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Regular Hours</td>
                                        <td class='number-td'>{{current.days[0].regularHours}}</td>
                                        <td class='number-td'>{{current.days[1].regularHours}}</td>
                                        <td class='number-td'>{{current.days[2].regularHours}}</td>
                                        <td class='number-td'>{{current.days[3].regularHours}}</td>
                                        <td class='number-td'>{{current.days[4].regularHours}}</td>
                                        <td class='number-td'>{{current.days[5].regularHours}}</td>
                                        <td class='number-td'>{{current.days[6].regularHours}}</td>

                                        <td class='number-td'>
                                            {{
                                                    parseInt(current.days[0].regularHours) +
                                                    parseInt(current.days[1].regularHours) +
                                                    parseInt(current.days[2].regularHours) +
                                                    parseInt(current.days[3].regularHours) +
                                                    parseInt(current.days[4].regularHours) +
                                                    parseInt(current.days[5].regularHours) +
                                                    parseInt(current.days[6].regularHours)
                                            }}
                                        </td>

                                        <td data-total-reg-hours class='number-td money'>
                                            {{
                                                    ((parseInt(current.days[0].regularHours) +
                                                     parseInt(current.days[1].regularHours) +
                                                     parseInt(current.days[2].regularHours) +
                                                     parseInt(current.days[3].regularHours) +
                                                     parseInt(current.days[4].regularHours) +
                                                     parseInt(current.days[5].regularHours) +
                                                     parseInt(current.days[6].regularHours) ) * parseFloat(current.employee.title.payrate)) | currency : $
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Overtime Hours</td>
                                        <td class='number-td'>{{current.days[0].overtime}}</td>
                                        <td class='number-td'>{{current.days[1].overtime}}</td>
                                        <td class='number-td'>{{current.days[2].overtime}}</td>
                                        <td class='number-td'>{{current.days[3].overtime}}</td>
                                        <td class='number-td'>{{current.days[4].overtime}}</td>
                                        <td class='number-td'>{{current.days[5].overtime}}</td>
                                        <td class='number-td'>{{current.days[6].overtime}}</td>
                                        <td class='number-td'>
                                            {{
                                                    parseInt(current.days[0].overtime) +
                                                    parseInt(current.days[1].overtime) +
                                                    parseInt(current.days[2].overtime) +
                                                    parseInt(current.days[3].overtime) +
                                                    parseInt(current.days[4].overtime) +
                                                    parseInt(current.days[5].overtime) +
                                                    parseInt(current.days[6].overtime)
                                            }}
                                        </td>

                                        <td data-total-overtime-hours class='number-td money'>
                                            {{
                                                    ((parseInt(current.days[0].overtime) +
                                                     parseInt(current.days[1].overtime) +
                                                     parseInt(current.days[2].overtime) +
                                                     parseInt(current.days[3].overtime) +
                                                     parseInt(current.days[4].overtime) +
                                                     parseInt(current.days[5].overtime) +
                                                     parseInt(current.days[6].overtime) ) * (parseFloat(current.employee.title.payrate)) * 1.5) | currency : $
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Nigth Diff</td>
                                        <td class='number-td'>{{current.days[0].nigthDiff}}</td>
                                        <td class='number-td'>{{current.days[1].nigthDiff}}</td>
                                        <td class='number-td'>{{current.days[2].nigthDiff}}</td>
                                        <td class='number-td'>{{current.days[3].nigthDiff}}</td>
                                        <td class='number-td'>{{current.days[4].nigthDiff}}</td>
                                        <td class='number-td'>{{current.days[5].nigthDiff}}</td>
                                        <td class='number-td'>{{current.days[6].nigthDiff}}</td>

                                        <td data-total-nigthdiff-hours class='number-td'>
                                            {{
                                                    parseInt(current.days[0].nigthDiff) +
                                                    parseInt(current.days[1].nigthDiff) +
                                                    parseInt(current.days[2].nigthDiff) +
                                                    parseInt(current.days[3].nigthDiff) +
                                                    parseInt(current.days[4].nigthDiff) +
                                                    parseInt(current.days[5].nigthDiff) +
                                                    parseInt(current.days[6].nigthDiff)
}}
                                        </td>
                                        <td class="number-td money"></td>
                                    </tr>
                                    <tr>
                                        <td>Reimbursements/Reg</td>
                                        <td class='number-td'>{{current.days[0].regularReimbursement}}</td>
                                        <td class='number-td'>{{current.days[1].regularReimbursement}}</td>
                                        <td class='number-td'>{{current.days[2].regularReimbursement}}</td>
                                        <td class='number-td'>{{current.days[3].regularReimbursement}}</td>
                                        <td class='number-td'>{{current.days[4].regularReimbursement}}</td>
                                        <td class='number-td'>{{current.days[5].regularReimbursement}}</td>
                                        <td class='number-td'>{{current.days[6].regularReimbursement}}</td>

                                        <td data-total-reimbursement-hours class='number-td'>
                                            {{
                                                    parseInt(current.days[0].regularReimbursement) +
                                                    parseInt(current.days[1].regularReimbursement) +
                                                    parseInt(current.days[2].regularReimbursement) +
                                                    parseInt(current.days[3].regularReimbursement) +
                                                    parseInt(current.days[4].regularReimbursement) +
                                                    parseInt(current.days[5].regularReimbursement) +
                                                    parseInt(current.days[6].regularReimbursement)
                                            }}
                                        </td>
                                        <td class="number-td money"></td>
                                    </tr>
                                    <tr>
                                        <td>Reimbursements/OT</td>
                                        <td class='number-td'>{{current.days[0].overtimeReimbursement}}</td>
                                        <td class='number-td'>{{current.days[1].overtimeReimbursement}}</td>
                                        <td class='number-td'>{{current.days[2].overtimeReimbursement}}</td>
                                        <td class='number-td'>{{current.days[3].overtimeReimbursement}}</td>
                                        <td class='number-td'>{{current.days[4].overtimeReimbursement}}</td>
                                        <td class='number-td'>{{current.days[5].overtimeReimbursement}}</td>
                                        <td class='number-td'>{{current.days[6].overtimeReimbursement}}</td>

                                        <td data-total-reimbursement-ot-hours class='number-td'>
                                            {{
                                                    parseInt(current.days[0].overtimeReimbursement) +
                                                    parseInt(current.days[1].overtimeReimbursement) +
                                                    parseInt(current.days[2].overtimeReimbursement) +
                                                    parseInt(current.days[3].overtimeReimbursement) +
                                                    parseInt(current.days[4].overtimeReimbursement) +
                                                    parseInt(current.days[5].overtimeReimbursement) +
                                                    parseInt(current.days[6].overtimeReimbursement)
                                            }}
                                        </td>
                                        <td class="number-td money"></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <button ng-click="addToPayroll()" class="btn btn-success col-md-12"><i class="fa fa-plus"></i> Add to payroll</button>
                    </div>
                    <div class="col-md-1 vertical-align"><a class="arrow pull-right" href="#"><i class="fa fa-chevron-circle-right"></i></a></div>
                </div>
            </div>
        </tab>
        <tab active="tabs[1].active">
            <tab-heading>
                <i class="fa fa-list-alt"></i> Resume
            </tab-heading>
            <div class="section row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Total Regular Hours</th>
                                <th>Total Overtime Hours</th>
                                <th>Total Pay</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-repeat="item in payroll.employees">
                                <td>{{item.employee.name + ' ' + item.employee.middle_name + ' ' + item.employee.last_name}}</td>
                                <td class='number-td'>{{item.totalRegHours | currency : $}}</td>
                                <td class='number-td'>{{item.totalOvertimeHours | currency : $}}</td>
                                <td class='number-td'>0</td>
                                <td>
                                    <button class="btn btn-warning btn-xs" ng-click="editEmployee(item.employee.employee_code)"><i class="fa fa-edit"></i> Edit</button>
                                    <button class="btn btn-danger btn-xs" ng-click="removeEmployee(item.employee.employee_code)"><i class="fa fa-remove"></i> Remove</button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <button class="btn btn-success col-md-12"><i class="fa fa-check"></i> Apply payroll</button>
            </div>
        </tab>
    </tabset>


</div>
