
<div>

    <p ng-show="viewMode == true || editing == true">
        <label>Payroll:</label>
        <label style="color: #c10505">{{payroll.payment_code}}</label>
    </p>
    <label>Pay Period</label>
    <div class="round-section">
        <div class="form-group">
            <label>Payroll Week</label>
            <input class="form-control" ng-disabled="viewMode == true || editing == true" ng-if="viewMode != false || editing != false" ng-model="payroll.rangeText" />
            <select class="form-control" ng-if="editing == false && viewMode == false" ng-change="selectDate()" ng-model="payroll.dateRange" ng-options="date as date.text for date in payrollDates">
                <option value="">Choose</option>
            </select>
        </div>
        <div class="form-inline" style="display:none">
            <div class="form-group">
                <label>From</label>
                <div class="input-group" date-picker days-disabled="disableDaysFrom" ng-class="{'has-error' : payroll.startdate == ''}" date-model="payroll.startdate">
                    <input class="form-control full-width" ng-model="payroll.startdate" required ng-disabled="viewMode == true || editing == true" />
                    <div class="input-group-addon">
                        <a href="#"><i class="fa fa-calendar"></i></a>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error' : payroll.enddate == ''}">
                <label>To</label>
                <div class="input-group" date-picker date-model="payroll.enddate" date-change="calculateDiff()">
                    <input class="form-control full-width date-end" required ng-disabled="viewMode == true || editing == true" />
                    <div class="input-group-addon">
                        <a href="#"><i class="fa fa-calendar"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <tabset class="round-section">
        <tab active="tabs[0].active">
            <tab-heading>
                <i class="fa fa-child"></i> Employees
            </tab-heading>
            <div class="section">
                <div>
                    <div class="form-group" ng-class="{'has-error' : current.employee.employee_code == undefined}">
                        <label>Employee: </label>
                        <select id="ddlEmployees"  class="form-control" ng-model="current.employee" ng-options="(employee.name + ' ' + employee.last_name) for employee in employees track by employee.employee_code">
                            <option value="">Choose...</option>
                        </select>
                    </div>
                    <label>Regular Rate: </label>
                    <label class="money">{{current.employee.title.payrate | currency : $}}</label>
                </div>
                <div class="employee-div" ng-hide="current.employee.employee_code == undefined">
                    <div class="col-md-1 hidden-sm hidden-xs vertical-align"><a ng-click="prevEmployee()" class="arrow pull-left" href="#"><i class="fa fa-chevron-circle-left"></i></a></div>
                    <div class="col-md-10 col-xs-12 col-sm-12">
                        <div ng-hide="payroll.startdate == ''">
                            <div class="table-responsive">
                                <table class="table fi table-striped">
                                    <thead>
                                        <tr ng-show="current.days.length">
                                            <th>&#xf133; Day</th>
                                            <th>
                                                &#xf017;
                                                <span class='hidden-xs hidden-sm'>Regular Hours</span>
                                                <span class='hidden-md hidden-lg'>Regs</span>
                                            </th>
                                            <th>
                                                &#xf017;
                                                <span class='hidden-xs hidden-sm'>Overtime</span>
                                                <span class='hidden-md hidden-lg'>OTs</span>
                                            </th>
                                            <th>
                                                &#xf0e5;
                                                <span class='hidden-xs hidden-sm'>Comment</span>
                                                <span class='hidden-md hidden-lg'>Comts</span>
                                            </th>
                                            <th>
                                                <span class='hidden-xs hidden-sm'>Reimbursement</span>
                                                <span class='hidden-md hidden-lg'>Reimb</span>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tr ng-repeat="day in current.days">
                                        <td>
                                            <label>{{day.day}}</label>
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" tab-index='{{$index}}' event-handler on-blur="checkOvertime(day)" on-tab="checkOvertime(day)" ng-model="day.regularHours" ng-disabled="viewMode == true" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="day.overtime" event-handler ng-disabled="viewMode == true" />
                                        </td>
                                        <td>
                                            <input type="text" class="form-control" ng-model="day.comment" ng-disabled="viewMode == true" />
                                        </td>
                                        <td>
                                            <a ng-if="viewMode == false" class="btn btn-xs btn-success" ng-click="openReimbursement(day)"><i class="fa fa-plus"></i> Add</a>
                                            <a ng-if="day.reimbursements.length > 0" class="btn btn-xs btn-info" ng-click="openReimbursement(day)"><i class="fa fa-search"></i> {{day.reimbursements.length}}</a>
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </div>

                        <div class="table-responsive">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>MON</th>
                                        <th>TUE</th>
                                        <th>WED</th>
                                        <th>THU</th>
                                        <th>FRI</th>
                                        <th>SAT</th>
                                        <th>SUN</th>
                                        <th>TOTAL HOURS</th>
                                        <th>GROSS PAY</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>Regular Hours</td>
                                        <td class='number-td'>{{current.days[0].regularHours}}</td>
                                        <td class='number-td'>{{current.days[1].regularHours}}</td>
                                        <td class='number-td'>{{current.days[2].regularHours}}</td>
                                        <td class='number-td'>{{current.days[3].regularHours}}</td>
                                        <td class='number-td'>{{current.days[4].regularHours}}</td>
                                        <td class='number-td'>{{current.days[5].regularHours}}</td>
                                        <td class='number-td'>{{current.days[6].regularHours}}</td>

                                        <td class='number-td'>
                                            {{
                                            parseInt(current.days[0].regularHours) +
                                            parseInt(current.days[1].regularHours) +
                                            parseInt(current.days[2].regularHours) +
                                            parseInt(current.days[3].regularHours) +
                                            parseInt(current.days[4].regularHours) +
                                            parseInt(current.days[5].regularHours) +
                                            parseInt(current.days[6].regularHours)
                                            }}
                                        </td>

                                        <td data-total-reg-hours class='number-td money'>
                                            {{
                                            ((parseInt(current.days[0].regularHours) +
                                            parseInt(current.days[1].regularHours) +
                                            parseInt(current.days[2].regularHours) +
                                            parseInt(current.days[3].regularHours) +
                                            parseInt(current.days[4].regularHours) +
                                            parseInt(current.days[5].regularHours) +
                                            parseInt(current.days[6].regularHours) ) * parseFloat(current.employee.title.payrate)) | currency : $
                                            }}
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>Overtime Hours</td>
                                        <td class='number-td'>{{current.days[0].overtime}}</td>
                                        <td class='number-td'>{{current.days[1].overtime}}</td>
                                        <td class='number-td'>{{current.days[2].overtime}}</td>
                                        <td class='number-td'>{{current.days[3].overtime}}</td>
                                        <td class='number-td'>{{current.days[4].overtime}}</td>
                                        <td class='number-td'>{{current.days[5].overtime}}</td>
                                        <td class='number-td'>{{current.days[6].overtime}}</td>
                                        <td class='number-td'>
                                            {{
                                            parseInt(current.days[0].overtime) +
                                            parseInt(current.days[1].overtime) +
                                            parseInt(current.days[2].overtime) +
                                            parseInt(current.days[3].overtime) +
                                            parseInt(current.days[4].overtime) +
                                            parseInt(current.days[5].overtime) +
                                            parseInt(current.days[6].overtime)
                                            }}
                                        </td>

                                        <td data-total-overtime-hours class='number-td money'>
                                            {{
                                            ((parseInt(current.days[0].overtime) +
                                            parseInt(current.days[1].overtime) +
                                            parseInt(current.days[2].overtime) +
                                            parseInt(current.days[3].overtime) +
                                            parseInt(current.days[4].overtime) +
                                            parseInt(current.days[5].overtime) +
                                            parseInt(current.days[6].overtime) ) * (parseFloat(current.employee.title.payrate)) * 1.5) | currency : $
                                            }}
                                        </td>
                                    </tr>
                                    <tr style="display:none">
                                        <td>Nigth Diff</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[0],3)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[1],3)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[2],3)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[3],3)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[4],3)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[5],3)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[6],3)}}</td>

                                        <td data-total-nigthdiff-hours class='number-td'>
                                            {{
                                            parseInt(getReimbursementHours(current.days[0],3)) +
                                            parseInt(getReimbursementHours(current.days[1],3)) +
                                            parseInt(getReimbursementHours(current.days[2],3)) +
                                            parseInt(getReimbursementHours(current.days[3],3)) +
                                            parseInt(getReimbursementHours(current.days[4],3)) +
                                            parseInt(getReimbursementHours(current.days[5],3)) +
                                            parseInt(getReimbursementHours(current.days[6],3))
                                            }}
                                        </td>
                                        <td class="number-td money">{{getReimbursementRate(current.days,3) | currency : $}}</td>
                                    </tr>
                                    <tr>
                                        <td>Reimbursements/Reg</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[0],1)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[1],1)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[2],1)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[3],1)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[4],1)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[5],1)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[6],1)}}</td>

                                        <td data-total-reimbursement-hours class='number-td'>
                                            {{
                                            parseFloat(getReimbursementHours(current.days[0],1)) +
                                            parseFloat(getReimbursementHours(current.days[1],1)) +
                                            parseFloat(getReimbursementHours(current.days[2],1)) +
                                            parseFloat(getReimbursementHours(current.days[3],1)) +
                                            parseFloat(getReimbursementHours(current.days[4],1)) +
                                            parseFloat(getReimbursementHours(current.days[5],1)) +
                                            parseFloat(getReimbursementHours(current.days[6],1))
                                            }}
                                        </td>
                                        <td class="number-td money">{{getReimbursementRate(current.days,1) | currency : $}}</td>
                                    </tr>
                                    <tr>
                                        <td>Reimbursements/OT</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[0],2)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[1],2)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[2],2)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[3],2)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[4],2)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[5],2)}}</td>
                                        <td class='number-td'>{{getReimbursementHours(current.days[6],2)}}</td>

                                        <td data-total-reimbursement-ot-hours class='number-td'>
                                            {{
                                            parseInt(getReimbursementHours(current.days[0],2)) +
                                            parseInt(getReimbursementHours(current.days[1],2)) +
                                            parseInt(getReimbursementHours(current.days[2],2)) +
                                            parseInt(getReimbursementHours(current.days[3],2)) +
                                            parseInt(getReimbursementHours(current.days[4],2)) +
                                            parseInt(getReimbursementHours(current.days[5],2)) +
                                            parseInt(getReimbursementHours(current.days[6],2))
                                            }}
                                        </td>
                                        <td class="number-td money">{{getReimbursementRate(current.days,2) | currency : $}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <button ng-click="addToPayroll()" ng-if="viewMode == false" class="btn btn-success full-width"><i class="fa fa-plus"></i> Add to payroll</button>
                        </div>
                        <div class="col-md-6 col-xs-12 col-sm-12">
                            <button ng-click="cancelEmployee()" ng-if="viewMode == false" class="btn btn-danger full-width"><i class="fa fa-remove"></i> Cancel</button>
                        </div>
                    </div>
                    <div class="col-md-1 hidden-sm hidden-xs vertical-align"><a ng-click="nextEmployee()" class="arrow pull-right" href="#"><i class="fa fa-chevron-circle-right"></i></a></div>
                </div>
            </div>
        </tab>
        <tab active="tabs[1].active">
            <tab-heading>
                <i class="fa fa-list-alt"></i> Resume
            </tab-heading>
            <div class="section row">
                <div class="table-responsive">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th>Employee</th>
                                <th>Total Regular Hours</th>
                                <th>Total Overtime Hours</th>
                                <th>Total Reimbursement/Reg</th>
                                <th>Total Reimbursement/OT</th>
                                <th>Total Pay</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tfoot>
                            <tr>
                                <td class="table-footer">Total</td>
                                <td class='table-footer number-td'>{{getTotalHours('totalRegHours') | currency : $}}</td>
                                <td class='table-footer number-td'>{{getTotalHours('totalOvertimeHours') | currency : $}}</td>
                                <td class='table-footer number-td'>{{getTotalHours(1) | currency : $}}</td>
                                <td class='table-footer number-td'>{{getTotalHours(2)  | currency : $}}</td>
                                <td class='table-footer number-td'>{{getTotalHours('totalRegHours') + getTotalHours('totalOvertimeHours') + getTotalHours(2) + getTotalHours(3) + getTotalHours(1)  | currency : $}}</td>
                            </tr>
                        </tfoot>
                        <tbody>
                            <tr ng-repeat="item in payroll.employees" >
                                <td>{{item.employee.name + ' ' + item.employee.middle_name + ' ' + item.employee.last_name}}</td>
                                <td class='number-td'>{{item.totalRegHours | currency : $}}</td>
                                <td class='number-td'>{{item.totalOvertimeHours | currency : $}}</td>
                                <!--<td class='number-td'>{{getReimbursementRate(item.days,3) | currency : $}}</td>-->
                                <td class='number-td'>{{getReimbursementRate(item.days,1) | currency : $}}</td>
                                <td class='number-td'>{{getReimbursementRate(item.days,2)  | currency : $}}</td>
                                <td class='number-td'>{{getReimbursementRate(item.days,3) + getReimbursementRate(item.days,1) + getReimbursementRate(item.days,2) + item.totalRegHours + item.totalOvertimeHours | currency : $}}</td>
                                <td>
                                    <button class="btn btn-warning btn-xs" ng-click="editEmployee(item.employee.employee_code)"><i class="fa fa-edit"></i> Edit</button>
                                    <button class="btn btn-danger btn-xs" ng-if="viewMode == false" ng-click="removeEmployee(item.employee.employee_code)"><i class="fa fa-remove"></i> Remove</button>
                                </td>
                            </tr>
                            
                        </tbody>
                    </table>
                </div>
                <div class="col-md-12 col-xs-12 col-sm-12" ng-if="viewMode == true && payroll.applied == true">
                    <button ng-click="printPayroll(payroll.payment_id)" class="btn btn-primary full-width"><i class="fa fa-print"></i> Print payroll</button>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12" ng-if="viewMode == false">
                    <button class="btn btn-info full-width" ng-click="savePayroll()"><i class="fa fa-save"></i> Save payroll</button>
                </div>
                <div class="col-md-6 col-xs-12 col-sm-12" ng-if="viewMode == false">
                    <button class="btn btn-success full-width" ng-click="applyPayroll()"><i class="fa fa-check"></i> Apply payroll</button>
                </div>
            </div>
        </tab>
    </tabset>


</div>
