body {
  background-color: #f7f7f9 !important;
}

body, html {overflow-x:hidden}

@media screen {
    #printSection {
        display: none;
    }
}
@media print {
    body * {
        visibility:hidden;
    }
    #printSection, #printSection * {
        visibility:visible;
    }
    #printSection {
        position:absolute;
        left:0;
        top:0;
    }
}

.dv {
  background-color: black;
  width: 150px;
  height: 150px;
}
.menu .sub-parent {
    padding:0;
}

.sub-item-text
{
    margin-left:22px;
}

.selected-menu{
    background-color: #DFE3E6 !important;
}
.menu .subItem a {
  display: block;
  height: 25px;
  
  padding: 0;
}
.menu .subItem i {
  font-size: 12pt;
}
.menu li a {
  background-color: #bdc3c7;
  height: 50px !important;
  display: block !important;
  color: #222222;
  padding: 15px !important;
  cursor: pointer;
}
.menu li a:hover {
  background-color: #DFE3E6;
}
.menu {
  height: 100%;
  background-color: #bdc3c7;
}
.max-height {
  height: 100%;
}
.menu li a i {
  margin-right: 10px;
  font-size: 15pt;
}
.fmp-navbar {
  box-shadow: 0px 0px 15px #222222;
  background-color: #2c3e50 !important;
  border: none !important;
  border-radius: 0 !important;
  height:70px
}
.fmp-navbar .navbar-brand {
  color: white !important;
}
.fmp-navbar .navbar-brand i {
  margin-right: 10px;
}
.no-margin {
  margin: 0 !important;
}
.main {
  height: 90vh;
}

.content-place-holder
{
  padding-bottom: 15px;
  padding-top:15px;
  height: 90vh;
  overflow-y: scroll;
  background-color: white;
  box-shadow: 0px 0px 10px #222 inset;
}


.round-section
{
    border:1px solid #ccc;
    border-radius:5px;
    padding:10px;
    margin-bottom:10px;
}

.table thead th
{
    padding:8px;
}
.gv-row:hover{
}

.arrow
{
    font-size:2em;
    color:#222
}

.mini-arrow
{
    font-size:.5em;
    color:#222
}

.full-width{
    width:100% !important
}
.half49-width{
    width:49% !important
}
.half-width{
    width:50.5% !important
}

.money{
    color:#027530;
    text-align:right !important
}

.number-td
{
    text-align:center
}
.currency-td
{
    text-align:right;
}

.vertical-align
{
  
  display: flex;
  height:300px;
  align-items: center;
}

.section
{
    padding:10px
}

.employee-div
{
    display:inline-block;
    width:100%
}

.table.fi thead th
{
    font-family:FontAwesome;
}

.comment-text
{

} 
.no-resize
{
    resize:none
}

.required-field
{
    border-color: #D43547 !important;
}

.hide
{
    display:none;
}

.login-head{
    padding: 0;
    padding-bottom: 10px;
    padding-top: 10px;
    padding-left: 5px;
    background-color: #EEEEEE;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    color: #555555;
    text-transform:uppercase

}

.login-head h4
{
    margin:0
}

.login-form
{
    border:1px solid #ccc;
    border-radius:5px;
    box-shadow: 0px 0px 10px #ccc;
}

.login-form .form
{
    padding:10px;
}

.inner-login
{
    padding:15px;
}


.form-control-login
{
     margin-right:15px;
}

.label-error
{
    color:#843534;
}

.label-error label
{
    color:#843534
}

.logo
{
    width:128px;
    margin-top:20px
}

.loading i
{
    font-size:2.5em;
    margin-bottom:10px;

}

.ajax-loader
{
    color: white;
    float: right;
    font-size: 1.5em;
}

.margin-top{
    margin-top:10px;
}

.payroll_header
{
    border: 1px solid #999;
    width: 50%;
    margin: 0 auto;
    margin-bottom: 10px;
    padding-top:10px
}

.table>thead>tr>th
{
    font-size:9pt !important
}

.ul-permits
{
    border: 1px solid #eee;
    list-style-type: none;
    padding-left: 15px;
    background-color: #f5f5f5;
    border-radius: 5px;
    border-top-left-radius: 0;
}

.main-menu
{
    transition:all .5s;
    overflow:hidden
}
.close-menu
{
    /*width:0 !important;*/
    height:0 !important;
}

.brand
{
    color:white
}

.brand .brand-name
{
    margin-top:18px;
    font-size:1.2em;
    margin-left:15px;
}

.brand .hamburguer
{
   margin:15px;
   margin-right:0;
    font-size:2em;
    color:white
}

.hamburger-icon
{
    padding:5px;
    background-color:#eee;
    color:#222
}

.hamburger-icon-pressed
{
    padding:5px;
    background-color:#39B3D7;
    color:#222
}

button.full-width
{
    margin-bottom:5px;
}

a.btn.btn-xs.btn-success
{
    margin-bottom:5px;
}


.animate {
  
}

.animate {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate.ng-hide{
    opacity:0
}


.income-header-th{
    background-color:#f0f0f0;
    text-align:center
}

.table-footer
{
    font-weight:bold;
}