

<div class="modal-header">
    <div ng-switch="viewMode">

        <div ng-switch-when="false">
            <h3 class="modal-title">Add Reimbursement</h3>
        </div>
        <div ng-switch-when="true">
            <h3 class="modal-title">View Reimbursements</h3>
        </div>

    </div>
    
</div>
<div class="modal-body">
    <div ng-if="!viewMode">
        <div class="form-group">
            <label>Day </label>
            <input type="text" class="form-control" value="{{day.day}}" disabled />
        </div>
        <div class="form-group">
            <label>Description</label>
            <select class="form-control" ng-model="reimbursement.obj" ng-options="r.description for r in reimbursements track by r.id">
                <option value=''>Choose...</option>
            </select>
        </div>
        <div class="form-group" style="display:none">
            <label>Reimbursement Type</label>
            <select ng-model="reimbursement.type" class="form-control" ng-options="r.description for r in reimbursementsTypes track by r.id">
                <option value=''>Choose...</option>
            </select>
        </div>

        <div class="checkbox">
            <label> <input type="checkbox" class="" ng-model="reimbursement.overtime" />Overtime</label>
            
        </div>

        <div class="form-group">
            <label>Payrate: </label>
            <span ng-if="reimbursement.overtime" class="money">{{ employee.title.payrate * (overtimeMultiply) || 0 | currency : $}}</span>
            <span ng-if="!reimbursement.overtime" class="money">{{employee.title.payrate | currency : $}}</span>
        </div>
        <div class="form-group">
            <label>Hours</label>
            <input type="hidden" ng-if="reimbursement.overtime" ng-model="reimbursement.rate" value="{{employee.title.payrate * (overtimeMultiply)}}" />
            <input type="hidden" ng-if="!reimbursement.overtime" ng-model="reimbursement.rate" value="{{employee.title.payrate}}" />
            <div class="input-group">
                
                <input type="text" placeholder="Hours" ng-model="reimbursement.hours" class="form-control" />
                <div class="input-group-addon">
                    <i class="fa fa-clock-o"></i>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label>Comment</label>
            <textarea ng-model="reimbursement.comment" placeholder="Type a comment" class="form-control comment-text no-resize"></textarea>
        </div>
        <div class="col-md-12 col-xs-12">
            <div class="col-md-6 col-xs-12">
                <button class="btn btn-success col-md-12 col-xs-12 pull-left" ng-hide="viewMode" ng-click="addReimbursement()"><i class="fa fa-plus"></i> Add</button>
            </div>
            <div class="col-md-6 col-xs-12">
                <button class="btn btn-default col-md-12 col-xs-12 pull-right" ng-hide="viewMode" ng-click="cancelReimbursement()"><i class="fa fa-remove"></i> Cancel</button>
            </div>
        </div>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Description</th>
                    <th class="currency-td">Payrate</th>
                    <th class="number-td">Hours</th>
                    <th>Comment</th>
                    <th class="currency-td">Gross pay</th>
                    <th style="width:145px;"></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="r in day.reimbursements" index="{{r.index}}">
                    <td>{{r.description}}</td>
                    <td class='currency-td'>{{r.rate | currency : $}}</td>
                    <td class='number-td'>{{r.hours}}</td>
                    <td>{{r.comment}}</td>
                    <td class="currency-td money">{{(r.hours * r.rate) | currency : $}}</td>
                    <td class="text-right">
                        <button class="btn btn-warning btn-xs" ng-if="!viewMode" ng-click="editReimbursement(r.index)"><i class="fa fa-edit"></i> Edit</button>
                        <button class="btn btn-danger btn-xs" ng-if="!viewMode" ng-click="removeReimbursement(r.index)"><i class="fa fa-remove"></i> Remove</button>
                    </td>
                </tr>
            </tbody>
            <tfoot>
                <tr>
                    <td></td>
                    <td class='currency-td'></td>
                    <td class='currency-td'></td>
                    <td></td>
                    <td class="currency-td money"><label>{{sumPayrate() | currency : $}}</label></td>
                    <td></td>
                </tr>
            </tfoot>
        </table>
    </div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">Ok</button>
    <button class="btn btn-default" ng-click="cancel()">Cancel</button>
</div>
